html {
    scroll-behavior: smooth;
    transition: 0.5s cubic-bezier(0.68, -1, 0.265, 1.55);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    /*background-image: url(https://nav.haitang000.top/static/background/login-background.png);*/
    transition: 0.5s;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #212121;
    opacity: 1;
    transition: 0.5s;
}

#home h1 {
    color: #ffffff;
    opacity: 1;
    transition: 0.5s;
    animation: FadeInUp 1s cubic-bezier(0.68, -1, 0.265, 1.55);
}

h3 {
    transition: 0.5s;
    animation: FadeInUp 1s cubic-bezier(0.68, -1, 0.265, 1.55);
}

p {
    color: #999999;
    opacity: 1;
    line-break: 0.9;
    transition: 0.5s;
}

#home p {
    color: #dddddd;
    opacity: 1;
    line-break: 0.9;
    transition: 0.5s;
    animation: FadeInUp 1s cubic-bezier(0.68, -1, 0.265, 1.55);
    animation-delay: 0.5s;
}

img {
    background-color: #ebebeb;
}

#home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    background-image: url(https://webstatic.mihoyo.com/upload/wd-wiki/2022/11/27/82783856/8f47708b9401b87070cd72747bfb9595_3783066140524447075.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#home img {
    border-radius: 99999px;
    width: 11rem;
    height: 11rem;
    animation-delay: 1s;
    animation: FadeInUpImage 0.5s cubic-bezier(0.68, -1, 0.265, 1.55);
    transition: 1s cubic-bezier(0.68, -0.21, 0.265, 1.10);;
}

#home img:hover {
    rotate: 360deg;
}

.navbar {
    background-color: #00000010;
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 999px;
    padding: 4px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 16px;
    z-index: 999;
    transition: 0.3s cubic-bezier(0.68, -1, 0.265, 1.55);
}

.navbar img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    margin-right: 4px;
}
.navbar a {
    display: block;
    color: rgb(136, 136, 136);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.68, -0.21, 0.265, 1.21);
    border-radius: 999px;
}
.navbar a:hover {
    background-color: #00000010;
    color: black;
    padding: 8px 32px;
}

.navbar a:active {
    background-color: #00000030;
    color: black;
    scale: 0.95;
}

#blog {
    display: flex;
    padding: 4px;
    gap: 16px;
    padding: 10%;
}

.cards {
    display: flexbox;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.card p {
    text-align: center;
    margin-top: 8px;
}

.card img {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    background-color: #ebebeb;
    transition: 0.3s cubic-bezier(0.68, -0.21, 0.265, 1.21);
}

.card img:hover {
    scale: 1.1;
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-content {
    width: 250px;
}

@keyframes FadeInUp {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(20px);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
}

@keyframes FadeInUpImage {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(20px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }
}


#cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    background: #000000;
    border-radius: 25px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;

    &.hidden {
        opacity: 0;
    }

    &.active {
        opacity: 0.5;
        transform: scale(0.5);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: #fff;
    }
    h1 {
        color: #fff;
    }
    p {
        color: #696969;
    }
    #home {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 100px;
        background-image: url(https://webstatic.mihoyo.com/upload/wd-wiki/2022/11/27/82783856/8f47708b9401b87070cd72747bfb9595_3783066140524447075.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }
    #home h1 {
        color: #fff;
    }
    #home p {
        color: #696969;
    }
    .navbar {
        background-color: #ffffff10;
    }
    .navbar a {
        color: #fff;
    }
    .navbar a:hover {
        background-color: #ffffff10;
        color: white;
    }
    .navbar a:active {
        background-color: #ffffff30;
        color: white;
    }
    #cursor {
        background: white;
    }
    .author p {
        color: #a3a3a3;
    }
    .content p {
        color: #e2e2e2;
    }
    img {
        background-color: #2b2b2b;
    }
    @keyframes FadeInUp {
        0% {
            opacity: 0;
            scale: 0.9;
            transform: translateY(20px);
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
        100% {
            opacity: 1;
            scale: 1;
            transform: translateY(0px);
            text-shadow: 0 0 10px rgba(255, 255, 255, 0);
        }
    }
}

@media only screen and (max-width: 600px) {
    #home {
        background-image: url(https://act-upload.mihoyo.com/upload/wd-wiki/2023/05/16/127729/118d75c2d48086a56206d2da307b6ac1_4673954071535591973.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));;
        gap: 16px;
        padding: 2rem;
    }
    #home h1 {
        font-size: 2.5rem;
    }
    #home p {
        font-size: 1rem;
    }
    .navbar {
        display: none;
    }
    .content {
        padding: 16px;
    }
    .content p {
        font-size: 2rem;
    }
    .author {
        padding: 16px;
    }
    #blog {
        padding: 16px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-radius: 16px;
        background-color: #00000010;
        transition: 0.2s cubic-bezier(0.68, -0.21, 0.265, 1.21);
        transition-property: background, opacity, transform, scale;
    }
    .card:hover {
        background-color: #00000005;
    }
    .card:active {
        scale: 0.9;
        background-color: #00000020;
    }
    @media (prefers-color-scheme: dark) {
    #home {
        background-image: url(https://act-upload.mihoyo.com/upload/wd-wiki/2023/05/16/127729/118d75c2d48086a56206d2da307b6ac1_4673954071535591973.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));;
    }
    .card {
        background-color: #ffffff10;
    }
    .card:hover {
        background-color: #ffffff05;
    }
    .card:active {
        background-color: #ffffff20;
    }
    }
}